<mat-accordion multi="true" *ngIf="todoArray.length > 0">
  <mat-expansion-panel *ngFor="let todoitem of todoArray">
    <mat-expansion-panel-header>
      {{ todoitem.title }}
    </mat-expansion-panel-header>
    {{ todoitem.content }}
    <mat-action-row>
      <!-- <button mat-stroked-button color="primary" (click)="onEdit(todoitem.id)">EDIT</button> -->
      <button mat-stroked-button color="primary" [routerLink]="['/edit', todoitem.id]">EDIT</button>
      <button mat-stroked-button color="warn" (click)="onDelete(todoitem.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="noitems" *ngIf="todoArray.length <= 0">No List Items</p>

